<section id="map-options">
  <a role="button" href="#" class="button small hidden">Spara</a>
  <a role="button" href="#" class="button small alert hidden">Rensa</a>
  <a id="geolocate-button" role="button" href="#" class="button small info">Hitta mig</a>
  <a id="new-section-button" role="button" href="#" class="button small info">Ny sträcka</a>
</section>
