<table>
  <tr>
    <td colspan="2">
      <%= "#{ t '.created_by' } #{ @poi.user.username },
                                #{ l(@poi.created_at, format: :day) }" %>
    </td>
  </tr>
  <% if @user_may_destroy %>
    <tr>
      <td colspan="2">
        <%= link_to t('.remove'), @poi, method: :delete,
                                  data: { confirm: t('.confirm_delete')  } %>
      </td>
    </tr>
  <% end %>
</table>
