

.pages-controller {
    width: 100%;
    height: 100%;


  #map-canvas {
    height: 100%;
    width: 100%;
  }

  #map-options {
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 200px;

    a {
      width: 150px;
      margin: 2px;
    }
  }

  .alert-box {
    position: absolute;
    top: 60px;
    left: 100px;
  }
}
