

.pages-controller {
    width: 100%;
    height: calc(100% - 45px);


  #map-canvas {
    height: 100%;
    width: 100%;
  }

  #map-options {
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 200px;

    a {
      width: 150px;
      margin: 2px;
    }
  }

  .callout {
    position: absolute;
    top: 40px;
    width:100%;
  }
}
